<br>
<center><h1 class="beige">Here's some accomodation</h1></center>
<br>
<div style="margin-left:170px; top:250px;" class="navbutton round"><a href="http://www.lastminute.com.au/accommodation/australia/nsw-blackheath?CID=SEM-2688-3876161557">Lastminute</a></div>
<br>
<div style="margin-left:-430px; top:250px;" class="navbutton round"><a href="http://www.wotif.com/hotels/australia-nsw-blackheath-hotels.html">Wotif</a></div>
<br>
<div style="margin-left:-130px; top:250px;" class="navbutton round"><a href="http://www.stayz.com.au/accommodation/nsw/blue-mountains/blackheath">Stayz</a></div>
<br>
<div style="margin-left:-130px; top:550px;" class="navbutton round"><%= link_to 'Go home', root_url %></div>
