<div id="background"></div>
<div id=scrolldown"></div>

<div class="champagne">
    <div id="bottle"></div>
    <div id="bubbles" data-1500="top:0px" data-3000="top:2200px" class="skrollable skrollable-between"></div>

    <div id="sal" data-0="background-position:0px 0px;" data-800="background-position:600px 0px;" class="skrollable skrollable-between"></div>
    <div id="tom" data-0="background-position:-100px 0px;" data-800="background-position:-500px 0px;" class="skrollable skrollable-between"></div>
    <div id="bg3" data-0="opacity: 1;" data-800="opacity: 0.2;" class="skrollable skrollable-between"></div>
    <div class="band main">

    </div>
    
</div>
<div id="comment1" class="comment">Tom was born - '87</div>
<div id="comment2" class="comment">Tom moved from the coast - '91</div>
<div id="comment3" class="comment">Tom went to the USA - '97</div>
<div id="comment4" class="comment">Tom started cricket - '98</div>
<div id="comment5" class="comment">Tom started uni - '06</div>
<div id="comment6" class="comment">Tom met Sal - '07</div>
<div id="comment7" class="comment"></div>
<div id="comment8" class="comment"></div>
