<div id="background"></div>
<div id=scrolldown"></div>

<div class="champagne">
    <div id="bottle"></div>
    <div id="bubbles" data-1500="top:0px" data-3000="top:2200px" class="skrollable skrollable-between"></div>

    <div id="sal" data-0="background-position:0px 0px;" data-800="background-position:600px 0px;" class="skrollable skrollable-between"></div>
    <div id="tom" data-0="background-position:-100px 0px;" data-800="background-position:-500px 0px;" class="skrollable skrollable-between"></div>
    <div id="bg3" data-0="opacity: 1;" data-800="opacity: 0.2;" class="skrollable skrollable-between"></div>
    <div class="band main">
        <p>This is a lot of text and stuff. blah blah blah...</p>
    </div>
</div>

