<div id="background"></div>
<div id=scrolldown"></div>

<div class="champagne">
    <div id="bottle"></div>
    <div id="bubbles" data-1500="top:0px" data-3000="top:2200px" class="skrollable skrollable-between"></div>

    <div id="sal" data-0="background-position:0px 0px;" data-800="background-position:600px 0px;" class="skrollable skrollable-between"></div>
    <div id="tom" data-0="background-position:-100px 0px;" data-800="background-position:-500px 0px;" class="skrollable skrollable-between"></div>
    <div id="bg3" data-0="opacity: 1;" data-800="opacity: 0.2;" class="skrollable skrollable-between"></div>
    <div class="band main">

    </div>
    
</div>
<div style="margin-left:-420px;top:1796px;" class="comment left-comment">Tom is born in sleepy Forster, NSW - '87</div>
<div style="margin-left:-420px;top:1860px;" class="comment left-comment">Tom gets his first taste of the ocean - '87</div>
<div style="margin-left:-420px;   top:1925px;" class="comment left-comment">Tom leaves the coast and lands in the Blue Mountains - '91</div>
<div style="margin-left:-420px;   top:1989px;" class="comment left-comment">Tom is forced to learn to share - '92</div>
<div style="margin-left:-420px;   top:2118px;" class="comment left-comment">Tom's family relocates to the USA for a year and Tom gets fat - '97</div>
<div style="margin-left:-420px;   top:2183px;" class="comment left-comment">Tom decides computers are pretty neat - '00</div>
<div style="margin-left:-420px;   top:2441px;" class="comment left-comment">Tom moves back to the coast albeit to attend university - '06</div>
<div style="margin-left:-420px;   top:2570px;" class="comment left-comment">Tom struggles with dining hall 'food' - '06</div>
<div style="margin-left:-420px;   top:2699px;" class="comment left-comment">Tom, as an O-Week leader, reads Sally's Goldstein application and decides 'this blue-haired girl could be trouble, best if I avoid her' - '07</div>
<div style="margin-left:-420px;   top:2764px;" class="comment left-comment">Tom fails to heed his own advice - '07</div>
<div style="margin-left:-420px;   top:2828px;" class="comment left-comment">Tom falls for Sally - '07</div>
<div style="margin-left:-420px;   top:3151px;" class="comment left-comment">Tom convinces Sally to trek the Himalayas -'10</div>
<div style="margin-left:-420px;   top:3345px;" class="comment left-comment">Tom and Sally buy a car together - '11</div>
<div style="margin-left:-420px;   top:3471px;" class="comment left-comment">Tom screws up all his courage and proposes - '13</div>
<div style="margin-left:120px;   top:1667px;" class="comment">'87 - Sally is born in the Cowra local hospital</div>
<div style="margin-left:120px;   top:1731px;" class="comment">'87 - Sally moves to Chapelton, Eugowra where she makes a fairly unenthusiastic dairy farmers daughter!</div>
<div style="margin-left:120px;   top:2054px;" class="comment">'93 - Sally starts school at Eugowra Public and begins what is many years of drama (the onstage variety - her natural penchant for drama began long before now!)</div>
<div style="margin-left:120px;   top:2247px;" class="comment">'02 - Sally is sent, dragging her feet, to boarding school at Kinross Wolaroi, complains....loudly</div>
<div style="margin-left:120px;   top:2312px;" class="comment">'03 - Sally's whole family relocates to Orange and take up residence on top of the hill</div>
<div style="margin-left:120px;   top:2377px;" class="comment">'05 - After lots of tears, late nights and a small chocolate addiction Sally makes it through Year 12</div>
<div style="margin-left:120px;   top:2506px;" class="comment">'06 - Sally moves to Larkhall, Scotland, then Sheffield, UK and then everywhere and anywhere for a year. We will spare you the details!</div>
<div style="margin-left:120px;   top:2635px;" class="comment">'07 - Sally begins a Bachelors of Commerce at UNSW. More importantly Sally moves into Goldstein College!</div>
<div style="margin-left:120px;   top:2893px;" class="comment">'07 - Sally meets a boy named Thomas, Sally thinks he is a bit of a knob (Thomas can't remember meeting her at all!)</div>
<div style="margin-left:120px;   top:2957px;" class="comment">'07 - Dramatic about face, Sally and Tom start to hang out, Thomas brings her a flower (a bird of paradise that he pulled from the flower bed out the front of college but I still accepted it)</div>
<div style="margin-left:120px;   top:3022px;" class="comment">'08 - Thomas meets the family...</div>
<div style="margin-left:120px;   top:3087px;" class="comment">'09 - Sally moves to Coogee where she pretends to live but isn't there that often as you have to walk past Thomas's house to get there</div>
<div style="margin-left:120px;   top:3216px;" class="comment">'10 - Sally and Tom travel to Nepal to attempt Toms dream of climbing Everest (they fail). Half way up the mountain Sally realises with alarming clarity that she hates Thomas but once they reach the top she changes her mind and true love blooms!</div>
<div style="margin-left:120px;   top:3280px;" class="comment">'11 - Thomas moves into Sally's place in Maroubra</div>
<div style="margin-left:120px;   top:3409px;" class="comment">'12 - Sally and Thomas get there own place! Admittedly we haven't progressed very far geographically in the last 5 years but this was momentous!</div>
<div style="margin-left:120px;   top:3538px;" class="comment">'13 - After months of lunges and training Tom overcomes his bended knee issues and proposes! The cliffs of Maroubra beach ring out with the high pitched squeal of Sally's excitement.</div>
<div style="margin-left:120px;   top:3603px;" class="comment">'13 - Pre-marital bliss ensues!</div>
