<br>
<center>
<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?group_id=&user_id=55659499@N03&set_id=72157634575235516&text=" frameBorder="0" width="700" height="550" scrolling="no"></iframe>
<br/>
<div style="margin-left:-150px; top:600px;" class="navbutton round"><%= link_to 'Go home', root_url %></div>
</center>
