// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.band {
    background: #4b371f;
    color: white;
    text-align: center;
    padding: 10% 0 10% 0;
}

body {
    background-image:url(/background.png);
    z-index:99;
    color: #DCD1B5;
}

div.champagne {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}

#sal, #tom, #bg3 {
  background-image:url(/sal.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  height:200px;
  left:0;
  top:250px;
  width:100%;
  z-index:50;
}
#tom {
  background-image:url(/tom.png);
  left:50%;
  z-index:49;
}
#bg3 {
  background-image:url(/ampersand.png);
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index:51;
}
#scrolldown {
  text-align:center;
}

#bottle {
  background-image:url(/bottle.png);
  background-position:center top;
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  height:5390px;
  width:100%;
  z-index:40;
}

#bubbles {
  background-image:url(/bubbles.png);
  background-position:center top;
  background-repeat:no-repeat;
  background-size:contain;
  position:absolute;
  height:3180px;
  width:100%;
  z-index:39;
}

div.comment {
  background: #000000;
  position:absolute;
  left:50%;
  z-index:99;
}

// height = 1666+77(year-1987)

#comment1 {
  margin-left:-245px;
  top:1666px;
}
#comment2 {
  margin-left:-345px;
  top:1974px;
}
#comment3 {
  margin-left:-435px;
  top:2346px;
}
#comment4 {
  margin-left:-460px;
  top:2423px;
}
#comment5 {
  margin-left:-555px;
  top:3129px;
}
#comment6 {
  margin-left:-538px;
  top:3206px;
}
#comment7 {
  margin-left:-535px;
  top:2346px;
}
#comment8 {
  margin-left:-535px;
  top:2346px;
}
