<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    
    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    Tom <span class="light">and</span> Sally
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About Us</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#location">Location</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#registry">Registry</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#rsvp">RSVP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Tom & Sal</h1>
                        <p class="intro-text">We are getting married on May 31 2014 in the idylic Blue Mountains 2 hours west of Sydney.</p>
                        <div class="page-scroll">
                            <a id="down-btn" href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Tom & Sal</h2>
                <p>We can probably have a little bit of propaganda over here. Lets make it a little hyperbolic <a href="http://snazzymaps.com/">Linky link</a>.</p>
                <p>We are pretty awesome to be honest, so awesome in fact that it flows on to our bridal party who are equally awesome.</p>
            </div>
        </div>
    </section>

    <section id="location" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Location</h2>
                    <p>The wedding will be held at Allview Escape, Blackheath in the Blue Mountains. There will be a bus picking up and dropping off from various local locations so you don't have to drive!</p>
                    <a href="https://maps.google.com.au/maps?f=q&source=s_q&hl=en&geocode=&q=Allview+Escape,+Hat+Hill+Road,+Blackheath,+New+South+Wales&aq=0&oq=all+view&sll=-33.796923,150.922433&sspn=1.698098,2.90863&vpsrc=0&ie=UTF8&hq=+loc:+&hnear=&t=h&cid=4804486921835835226&ll=-33.6178,150.32022&spn=0.006647,0.011362&z=17&iwloc=A" class="btn btn-default btn-lg">View a map</a>
                    <a href="#" class="btn btn-default btn-lg">See accomodation</a>
                    <br><br><br>
                </div>
            </div>
        </div>
    </section>

    <section id="registry" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Wedding Registry</h2>
                <p>We have not yet decided on a registry so this section is still essentially empty. When it is filled it will have a <a href="http://www.testaddress.com/">link</a> to our registry.</p>
                <a href="#" class="btn btn-default btn-lg" style="margin-bottom: 1em;">See the registry</a>
                <p>What would be awesome is if we could get a house before the wedding and so could be filling our new house. This is unlikely.</p>
            </div>
        </div>
    </section>

    <section id="rsvp" class="content-section text-center">
        <div class="rsvp-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>RSVP</h2>
                    <p>To RSVP please enter the code from your invite below or just scan the QR code from your invite.</p>
                    <%= form_tag("/rsvp", method: "get") do %>
                        <%= text_field_tag :code, "" , class: "txt-glow", placeholder: "Code" %>
                        <%= submit_tag "Enter", class: "btn btn-invert" %>
                    <% end %>
                    <br>
                    <p>Alternatively you can call or SMS Sal on 0422 257 630.</p>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </section>
