<div class="registry">
<section class="container content-section text-center" style="padding-top: 20px;">
<center><h1>Registry</h1>
<br>
<p>We have created a small <a href="https://www.myer.com.au/bridal-and-gift-registry/find-a-registry/">registry at Myer</a>. If you wish to buy something from this list take a copy of the list to your nearest Myer and when purchasing let them know it is for our registry.</p>
<br>
<p>Information you may need:</p>
<ul class="registry-table">
  <li><b>Registrants' Names:</b> Sally Lennox & Thomas Davies</li>
  <li><b>Registration Number:</b> 410542</li>
  <li><b>Occasion Date:</b> May 31, 2014</li>
</ul>
<br>
<a href="http://www.myer.com.au/webapp/wcs/stores/servlet/RegistryDetailsView?storeId=10251&catalogId=10051&langId=-1&externalId=410542" class="btn btn-default btn-lg">See the registry</a>
<br><br><br>
</section>
</div></center>
