<div class="where">
<section class="container content-section text-center" style="padding-top: 20px;">
<center><h1>Where to stay</h1>
<br>
<p>The Blue Mountains have some fantastic and unique accommodation options. We've pulled out a few that we hope will help you make a decisions but remember Tom's a local (kinda) so feel free to ask for advice.</p>
<p>Renting a house would be pretty cool if a few people can get together maybe make a weekend of it and really have some fun! Try <a href="">Stayz for rental homes</a>.</p>
<p>Otherwise there are a few hotels that may suit; <a href="http://www.gardnersinn.com.au/accommodation.html">The Gardeners Hotel</a>, <a href="http://bluemountainsbest.com/properties/newivanhoehotel.htm">The Ivanhoe Hotel</a>, <a href="http://www.stmounts.com.au/accommodation.html">St Mounts</a>, <a href="http://www.lastminute.com.au/accommodation/australia/redleaf-resort-blue-mountains/W2649">The Redleaf</a>, <a href="http://www.highmountainsmotel.com/">The High Mountains Motor Inn</a> and <a href="http://www.blackheathmotorinn.com.au/">The Blackheath Motor Inn</a>.</p>
<br>
<p>Here are a couple websites that will help you get started on your search for accommodation.</p>
<a href="http://www.lastminute.com.au/accommodation/australia/nsw-blackheath" class="btn btn-default btn-lg">Lastminute</a>
<a href="http://www.wotif.com/search/results?region=1291&searchTerms=Blackheath,%20NSW&previousSearchTerms" class="btn btn-default btn-lg">Wotif</a>
<a href="http://www.stayz.com.au/accommodation/nsw/blue-mountains/blackheath" class="btn btn-default btn-lg">Stayz</a>
<br><br><br>
</section>
</div></center>
