<br><br>
<div class='centered' style="width:500px;">
<h1 class='beige'>Who else is coming?</h1>
<br>
<center>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @rsvps.each do |rsvp| %>
  <tr>
    <td><%= rsvp.name %></td>
  </tr>
<% end %>
</table>
</center>
<br />

<%= link_to 'Rsvp someone else', new_rsvp_path %> | <%= link_to 'Go home', root_url %>
</div>
