// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.navbar-header {
  margin-left: 10px;
  margin-right: 0px;
}

a#down-btn {
  margin-left: 200px;
}

.where {
  background: url(../downloads-bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

  a {
    color: #ddd;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    color: #ff0;
  }
}

.bottom-margin {
    margin-bottom: 1em;
}

.registry-table {
    width: 400px;
    list-style-type: none;
}

/*
@media (max-width: 767px) {
    .intro {
        margin-left: -20px;
        margin-right: -20px;
    }
}
*/
