// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.navbar-header {
  margin-left: 10px;
  margin-right: 0px;
}

a#down-btn {
  margin-left: 200px;
}

/*
@media (max-width: 767px) {
    .intro {
        margin-left: -20px;
        margin-right: -20px;
    }
}
*/
