// Place all the styles related to the rsvps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**
 * @info Custom Imageless CSS Skinning for Checkboxes and Radiobuttons
 * @author Martin Ivanov
 * @web http://wemakesites.net
 * @blog http://acidmartin.wordpress.com/
 * @twitter https://twitter.com/wemakesitesnet
 */

:root .css3-radios label,
:root .css3-radios input[type="radio"] + span,
:root .css3-radios input[type="radio"] + span::before,
:root .css3-checkboxes label,
:root .css3-checkboxes input[type="checkbox"] + span,
:root .css3-checkboxes input[type="checkbox"] + span::before
{
    display: inline-block;
    vertical-align: middle;
}

:root .css3-radios,
:root .css3-checkboxes
{
    position: relative;
}

:root .css3-radios label *,
:root .css3-checkboxes label *
{
    cursor: pointer;
    margin-bottom: 0px;
    font-size: 24px;
}

:root .css3-radios input[type="radio"],
:root .css3-checkboxes input[type="checkbox"]
{
    opacity: 0;
    position: absolute;
}

:root .css3-radios input[type="radio"] + span,
:root .css3-checkboxes input[type="checkbox"] + span
{
    font: normal 11px/14px Arial, Sans-serif;
    color: #EEE;
}

:root .css3-radios label:hover span::before,
:root .css3-checkboxes label:hover span::before
{
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}

:root .css3-radios label:hover span,
:root .css3-checkboxes label:hover span
{
    color: #FF0;
}

:root .css3-radios input[type="radio"] + span::before,
:root .css3-checkboxes input[type="checkbox"] + span::before
{
    content: "Decline";
    font-size: 16px;
    color: #444;
    width: 68px;
    height: 26px;
    margin: 0 4px 0 0;
    border: solid 1px #a8a8a8;
    line-height: 28px;
    text-align: center;
    
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    
    background: #FF0;
    background: -moz-radial-gradient(#FF0, #dfdfdf);
    background: -webkit-radial-gradient(#FF0, #dfdfdf);
    background: -ms-radial-gradient(#FF0, #dfdfdf);
    background: -o-radial-gradient(#FF0, #dfdfdf);
    background: radial-gradient(#FF0, #dfdfdf);
}

:root .css3-radios input[type="radio"]:checked + span::before,
:root .css3-checkboxes input[type="checkbox"]:checked + span::before
{
    color: #444;
}

:root .css3-radios input[type="radio"]:disabled + span,
:root .css3-checkboxes input[type="checkbox"]:disabled + span
{
    cursor: default;
    
    -moz-opacity: .4;
    -webkit-opacity: .4;
    opacity: .4;
}

:root .css3-checkboxes input[type="checkbox"] + span::before
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

:root .css3-radios input[type="radio"]:checked + span::before
{
    content: "\2022";
    font-size: 24px;
}

:root .css3-checkboxes input[type="checkbox"]:checked + span::before
{
    //content: "\2714";
    content: "Accept";
    font-size: 16px;
}

/* Fieldset stuff */
fieldset.default {
    border-width: 6px;
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 6px 0px;
}
fieldset.parent {
    padding: 0px;
}
fieldset.child {
    border: 1px dashed #ddd;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

div.rsvp_index {
  color: #222;
  background-color: #AA6;
}

h2.regular-case {
  text-transform: none;
}

div.centered {
  width: 50%;
  margin: 0 auto;
}

label.large-text {
  margin-bottom: 10px;
}

 .txtarea-glow  { 
padding: 0 10px; 
border: none; 
background: #F7DEF7; 
background: rgba(255, 255, 255, 0.5); 
box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); 
font-family: 'Montserrat', sans-serif; 
color: #000; 
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
font-size: 20px; 
outline: solid 1px #FF0;
margin-top: 10px;
} 
 
 .txtarea-glow:focus { 
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15); 
outline: none; 
background: #F7DEF7; 
background: rgba(255, 255, 255, 0.7); 
outline: solid 1px #FF0;
} 

#rsvp-update {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../where.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

   // color: white;
   // text-shadow:
   // -1px -1px 0 #000,
   // 1px -1px 0 #000,
   // -1px 1px 0 #000,
   // 1px 1px 0 #000;
   
   //color: rgba(0,0,0,0.6);
   //text-shadow: 2px 2px 3px rgba(255,255,255,0.1);

   //text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

